@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

.main {
  padding: 20px 0px 20px 0px;
  margin: 0;
  background-image: url(../styles/assets/Pokémon.full.3423411.png);
  background-size: 50%;
  /* filter: brightness(50%);
  filter: blur(4px); */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.cardPokemon {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* botão pokemons */
.cardPokemon button {
  font-family: "Electrolize", sans-serif;
  margin-bottom: 10px;
  padding: 5px;
  width: 25%;
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  background-color: #3d3d3d;
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.3s;
  opacity: 50%;
}

.cardPokemon button:hover {
  cursor: pointer;
  width: 26%;
  opacity: 100%;
  border: 2px solid #076f7b;
  text-shadow: 2px 2px 20px #0fe6ff;
}

/* tela voltar */
.pokeInfo button {
  font-family: "Electrolize", sans-serif;
  margin-bottom: 10px;
  padding: 5px;
  width: 25%;
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  background-color: #3d3d3d;
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.3s;
  opacity: 50%;
}
.pokeInfo button:hover {
  cursor: pointer;
  width: 26%;
  opacity: 100%;
  border: 2px solid #076f7b;
  text-shadow: 2px 2px 20px #0fe6ff;
}

.pokeInfo p {
  font-family: "Electrolize", sans-serif;
  margin-bottom: 10px;
  padding: 10px;
  color: #ffffff;
  background-color: #3d3d3d;
  text-transform: uppercase;
  font-size: 1rem;
  /* width: 25%; */
  /* border: 2px solid #ffffff; */
}

.pokeInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
